<div class="registation">
  <div class="container">
    <div>
      <h4>
        Register now
      </h4>
    </div>

    <!-- i try to use  *ngIf="registrationForm.valid"   but the form disappeared-->
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">


      <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input formControlName="firstName" type="text" class="form-control" id="firstName">
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input formControlName="lastName" type="text" class="form-control" id="lastName" required>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input formControlName="email" type="email" class="form-control" id="email" required>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input formControlName="password" type="password" class="form-control" id="password">
      </div>


      <button type="submit">Save</button>
      <p>Have an account? <a href="" routerLink="/login">Login</a></p>
    </form>
  </div>
</div>