/* .registation {
  width: 100%;
}
.registation .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
}
.registation form {
  width: 40%;
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 3px;
}
@media (max-width: 767px) {
  .registation form {
    width: 80%;
  }
}
.registation form input {
  margin-bottom: 10px;
  padding: 5px;
}
.registation form button {
  padding: 5px;
  background-color: #0099e6;
  color: white;
  border: 1px solid #0099e6;
  border-radius: 3px;
  width: 80%;
}
.registation form div {
  width: 80%;
}
.registation form button:hover {
  background-color: white;
  color: #0099e6;
} */
