<div class="login">


  <div class="container">
    <div>
      <h4>
        Login
      </h4>
    </div>

    <!-- i try to use  *ngIf="loginForm.valid"  but the form disappeared-->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input formControlName="email" type="email" class="form-control" id="email" required>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input formControlName="password" type="password" class="form-control" id="password">
      </div>

      <button type="submit" class="mb-3" [disabled]="loginForm.invalid">Login</button>


      <p>You haven't an account? <a href="" routerLink="/registation">register</a></p>
    </form>

  </div>
</div>