.board {
  width: 100%;

  padding: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  background-color: rgb(124, 186, 0);
  color: white;
  width: 20%;
  margin: 5px;
}

.btn:hover {
  background-color: white;
  color: rgb(124, 186, 0);
  border: 1px solid;
}
