.advsection {
  width: 100%;
  background-color: #0099e6;
  padding: 20px;
}
.advsection .container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 80vh;
}

.advsection .container .text-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.advsection .container .text-content button {
  width: 40%;
  border-radius: 5px;
  background-color: #0099e6;
  padding: 15px;
  font-weight: bold;
  border: 1px solid white;
  color: white;
}
.advsection .container .text-content button:hover {
  background-color: white;
  color: #0099e6;
}
.advsection .container .image {
  height: 100%;
}
.advsection .container .image img {
  height: 100%;
  width: 100%;
}

/* start products */

.product-list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  width: 200px;
  text-align: center;
  box-sizing: border-box;
  width: calc(20% - 20px);
}
@media (max-width: 767px) {
  .product {
    width: 80%;
  }
  .advsection .container .image {
    display: none;
  }
  .advsection .container .text-content {
    width: 100%;
  }
}
.product img {
  max-width: 200px;
  border-radius: 8px;
}
.product button {
  width: 40%;
  border-radius: 5px;
  background-color: #0099e6;
  padding: 15px;
  font-weight: bold;
  border: 1px solid #0099e6;
  color: white;
}
.product button:hover {
  background-color: white;
  color: #0099e6;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
x x .product-card {
  width: 22%;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 50px auto;
  background: #fafafa;
}
@media (max-width: 767px) {
  .product-card {
    width: 80%;
  }
}
.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 50px;
  background: #f0f0f0;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 30px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #fbb72c;
}
