<form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" sbSortable="userId" (sort)="onSort($event)">
          <span>User ID</span>
        </th>
        <th scope="col" sbSortable="date" (sort)="onSort($event)">
          <span>Date</span>
        </th>
        <th scope="col" sbSortable="productId" (sort)="onSort($event)">
          <span>Product ID</span>
        </th>
        <th scope="col" sbSortable="quantity" (sort)="onSort($event)">
          <span>Quantity</span>
        </th>
        <th scope="col" sbSortable="action" (sort)="onSort($event)">
          <span>Action</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cart of cartData; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ cart.userId }}</td>
        <td>{{ cart.date }}</td>
        <td>
          {{ cart.products.productId }}
        </td>
        <td>
          {{ cart.products.quantity }}
        </td>
        <td>
          <button class="btn btn-primary w-100 maxWidth">Edit</button>
          <button class="btn btn-danger w-100 my-1 maxWidth">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2"></div>
</form>