<div class="product-section my-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-4 	d-sm-none d-md-block category col-sm-12">
        <div class="container sticky-category">
          <h4>Categories</h4>
          <hr>
          <a (click)="categorySearchForProducts('')">Get All</a>
          <div *ngFor="let category of categories">
            <a (click)="categorySearchForProducts(category)">{{category}}</a>
          </div>
        </div>
      </div>

      <div class="col-lg-9 col-md-6 col-sm-12" id="product_section">
        <!-- products -->
        <div class="product-list">
          <div class="product-card" *ngFor="let product of getApiProducts()">
            <div class="badge">Hot</div>
            <div class="product-tumb">
              <img [src]="product.image" alt="">
            </div>
            <div class="product-details">
              <span class="product-catagory">{{product.category}}</span>
              <h6 (click)="openPopup(product)"><a>{{product.title}}</a></h6>
              <p>{{product.description.slice(0,80)}} <strong *ngIf="product.description.length > 80"
                  (click)="openPopup(product)">
                  <a>See More</a></strong></p>
              <div class="product-price">{{product.price}} SAR</div>
              <div class="product-links" *ngIf="!product.isItInCart">
                <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-heart" viewBox="0 0 16 16">
                    <path
                      d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                  </svg></a>
                <a (click)="addToCart(product.id)"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                    fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                    <path
                      d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0" />
                  </svg></a>
              </div>
              <div class="input-group w-auto justify-content-end align-items-center" *ngIf="product.isItInCart">
                <input type="button" value="-" (click)="updateQuantity(product.id , '-')"
                  class="button-minus border rounded-circle  icon-shape icon-sm mx-1 " data-field="quantity">
                <input type="number" step="1" min="1" max="1" [value]="product.qty" name="quantity"
                  class="quantity-field border-0 text-center w-25">
                <input type="button" value="+" (click)="updateQuantity(product.id , '+')"
                  class="button-plus border rounded-circle icon-shape icon-sm " data-field="quantity">
              </div>


            </div>
          </div>

        </div>

        <div class="more-button-container d-flex justify-content-center my-5 text-center"
          *ngIf="limit <= getApiProducts().length">
          <button class="btn btn-outline-secondary" style="width: 20%;" (click)="getMoreProducts()">More</button>
        </div>

      </div>

    </div>
  </div>

</div>