/* start products */

.product-list {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;

  gap: 10px;
  justify-content: center;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
.product-card {
  width: 30%;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;

  min-width: 300px;
  background: #fafafa;
}
@media (max-width: 767px) {
  .product-card {
    width: 80%;
  }
  .category {
    display: none;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .product-card {
    width: 40%;
  }
}
.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 50px;
  background: white;
}

.product-tumb img {
  max-width: 200px;
  max-height: 200px;
}

.product-details {
  padding: 30px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
  position: absolute;
  margin-bottom: 5px;
  bottom: 0;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
  position: absolute;
  margin-bottom: 5px;
  bottom: 0;
  right: 0;
  margin-right: 20px;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #fbb72c;
}

.category {
  padding: 0 5px;
  max-width: 300px;
}

.category .container {
  padding: 10%;
  border: 1px solid white;
  border-radius: 5px;
  height: 100vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sticky-category {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  z-index: 1000;
}
a {
  cursor: pointer;
  color: #0099e6;
}

icon-shape {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.icon-sm {
  width: 2rem;
  height: 2rem;
}
/*

.product {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  width: 200px;
  text-align: center;
  box-sizing: border-box;
  width: calc(20% - 20px);
}
@media (max-width: 767px) {
  .product {
    width: 80%;
  }
  .advsection .container .image {
    display: none;
  }
  .advsection .container .text-content {
    width: 100%;
  }
}
.product img {
  max-width: 200px;
  border-radius: 8px;
}
.product button {
  width: 40%;
  border-radius: 5px;
  background-color: #0099e6;
  padding: 15px;
  font-weight: bold;
  border: 1px solid #0099e6;
  color: white;
}
.product button:hover {
  background-color: white;
  color: #0099e6;
} */
